

/* Put your custom styles here */

.box-h3
{
    font-size: 20px;
    padding: 0 0 20px;
    margin: 0 0 20px 0;
    display: block;
    border-bottom: 1px solid #e8e8e8;
}

.icon
{
    margin-right: 5px;
}

.icon
{
}

.listing-details-sidebar
{
    
    padding: 0;
    list-style: none;
    font-size: 15px;
    margin-bottom: -5px;
    position: relative;
    display: block;
}


